h1{
    color: goldenrod;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 32px;

}

p{
    color: royalblue;
    font-family: sans-serif;
    font-size: 20px;
}